{% extends 'index.html' %}

{% block body %}
<div class="row" >
  <div class="col-4" style="width: 15rem">
    {% for i in post %}
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-{{i.name}}">{{i.name}}</a>
    </div>
    {% endfor %}
  </div>
  <div class="col-8" >
    {% for i in post %}
    <div data-bs-spy="scroll" data-bs-target="#list-{{i.name}}" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-1">{{i.name}}</h4>
      <p>{{i.info}}</p>
    </div>
    {% endfor %}
  </div>
</div>
<a href="add/" class="btn btn-primary">Добавить запись</a>
{% endblock %}